.web-design-main {
  margin-bottom: 5rem;
  .main-middle-cards {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }
  .web-cards-1 {
    width: 35rem;
    height: 47.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf3f0;
    border-radius: 1.5rem;
    text-align: center;
    transition: 0.3s ease background-color;
    overflow: hidden;

    &:hover {
      background-color: $primary-peach;
      .web-cards-1__h3 {
        color: $primary-white;
      }
      .web-cards-1__p {
        color: $primary-white;
      }
    }
    .web-cards-1__h3 {
      font-size: $h3-s;
      line-height: $h3-lh;
      letter-spacing: $h3-lt;
      font-weight: $fw-500;
      padding-top: 3.2rem;
      color: $primary-peach;
      transition: color 0.3s ease;
    }
    .web-cards-1__p {
      font-size: $P-s;
      line-height: $p-lh;
      color: $secondary-dark-grey;
      text-align: center;
      width: 100%;
      max-width: 25rem;
      transition: color 0.3s ease;
    }
  }
}
.web-design-top-orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 111rem;
  background-repeat: no-repeat;
  background-color: $primary-peach;
  border-radius: 0.8rem;
  background-image: url("../../../images/png/footer-bg.png");
  background-position: right;
  padding: 7.2rem 0 7.2rem;
  margin-bottom: 16rem;
  .web-desigg-h1 {
    font-size: $h1-s;
    line-height: $h1-lh;
    font-weight: $fw-500;
    color: $primary-white;
    padding-bottom: 2.4rem;
  }
  .web-desigg-p {
    font-size: $P-s;
    line-height: $p-lh;
    font-weight: $fw-400;
    color: $primary-white;
    width: 100%;
    max-width: 350px;
  }
}
.app-designto-web-design {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), (rgba(0, 0, 0, 0.5))),
    url("../../../images/png/main-card-1.png");
  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.5),
        (rgba(231, 129, 107, 0.5))
      ),
      url("../../../images/png/main-card-1.png");
  }
}
.main-card-2 {
  width: 54.1rem;
  height: 30.8rem;

  background-repeat: no-repeat;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .main-card-1__h2 {
    font-size: $h2-s;
    line-height: $h2-lh;
    letter-spacing: $h2-lt;
    color: $primary-white;
    padding-bottom: 2.4rem;
    &:hover {
      cursor: pointer;
    }
  }
  .btn-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .btn-arrow__link {
      color: $primary-white;
      font-size: $P-s;
      line-height: $p-lh;
      letter-spacing: 0.5rem;
    }
    &:hover {
      .btn-arrow__link {
      }
    }
  }
  margin-bottom: 3rem;
}
.main-card-3 {
  width: 54.1rem;
  height: 30.8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), (rgba(0, 0, 0, 0.5))),
    url("../../images/png/main-card-3.png");
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.5),
        (rgba(231, 129, 107, 0.5))
      ),
      url("../../images/png/main-card-3.png");
  }
  .main-card-1__h2 {
    font-size: $h2-s;
    line-height: $h2-lh;
    letter-spacing: $h2-lt;
    color: $primary-white;
    padding-bottom: 2.4rem;
    &:hover {
      cursor: pointer;
    }
  }
  .btn-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .btn-arrow__link {
      color: $primary-white;
      font-size: $P-s;
      line-height: $p-lh;
      letter-spacing: 0.5rem;
    }
    &:hover {
      .btn-arrow__link {
      }
    }
  }
}

.web-design-end-wrapper {
  display: flex;
  gap: 3rem;
  margin-top: 16rem;
}
@media screen and (max-width: 1450px) {
  .main-middle-cards {
    justify-content: center !important;
  }
}
@media screen and (max-width: 900px) {
  .web-cards-1 {
    flex-direction: row !important;
    width: 100% !important;
    max-width: 689px !important;
    height: 32rem !important;
    gap: 3rem !important;
    text-align: center;
  }
  .web-design-end-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .main-card-2,
  .main-card-3 {
    width: 100% !important;
    background-size: 100%;
    text-align: center;
    background-position: center;
  }
}

@media screen and (max-width: 730px) {
  .web-cards-1 {
    flex-direction: column !important;
    width: 35rem !important;
    height: 47.8rem !important;
    gap: 0 !important;
  }
}
